:root {
    --primary-background: rgba(26, 11, 46, 1);;
    --border-color: #412567;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
    background-color: var(--primary-background);
    max-width: 1600px;
}

header {
    margin: 0 auto;
    min-height: 500px;
}
nav{
    border-bottom: 1px solid var(--border-color);
}

footer{
    background-image: url("./assets/footer-bg.png");
    background-repeat: no-repeat;
    
}




